<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MonitorTimeout" value="1000"/><!--value is in seconds.  ie 1000 = 1 second-->
		<add key="CmdLineTimeout" value="5000"/><!--value is in seconds.  ie 1000 = 1 second-->
		<add key="ActivateContinuum" value="True"/><!-- False || True -->
		<add key="FailoverPartner" value=""/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="DLLs"/>
		</assemblyBinding>
	</runtime>
</configuration>